.second{
  padding: 250px 0 0 300px;

  background: url("../image/free bg.png")center/cover no-repeat;
  &__title{
    font-weight: 700;
    font-size: 50px;
  }
  &__tit{
    font-weight: 700;
    font-size: 50px;
    color: rgba(250, 0, 44, 1);
  }
  &__text{
    font-weight: 400;
    font-size: 16px;
    padding: 24px 0 50px;
  }
  &__btn{
    padding-bottom: 50px;
  }
}


@media (max-width: 1000px) {
  .second{
    padding: 250px 0 0 50px;
    &__title{
      font-weight: 600;
      font-size: 30px;
    }
    &__tit{
      font-weight: 600;
      font-size: 30px;
      color: rgba(250, 0, 44, 1);
    }
    &__text{
      font-weight: 300;
      font-size: 14px;
      padding: 24px 0 50px;
    }
  }

}