*{
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container{
  margin: 0 auto;
  max-width: 1920px;
  padding: 0;

}
.btn{
  display: flex;
  font-family: 'Poppins',sans-serif;
  justify-content: center;
  align-items: center;
  background: rgba(250, 0, 44, 1);
  padding: 5px;
  border: none;
  border-radius: 14px;
  color: #F8F8F8;
  cursor: pointer;

}
.color{
  color: #F8F8F8;
  font-size: 18px;
  font-weight: 700;
}


@media (max-width:800px ) {
  #media{
    font-weight: 400!important;
    font-size: 5px!important;
  }
  .btn{
    font-size: 12px!important;
    font-weight: 500!important;


  }


}

@import "header";
@import "begin";
@import "second";
@import "location";
@import "overlay";
@import "karean";
@import "kia";
